# Homework 2 : Data from the Web

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import requests
from bs4 import BeautifulSoup

## 1. Top University Ranking : QS
Next we Are going to load the data from the URL of QS. The main URL of the ranking page is the following :

In [5]:
QS_base_URL = "https://www.topuniversities.com"
QS_data_URL = "https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508016143198"

Nest, we make the HTTP Request and get the JSON file into a list of dictionnaries :

In [6]:
QS_R = requests.get(QS_data_URL)
QS_dict = QS_R.json()['data']
QS_dict[0]

{'cc': 'US',
 'core_id': '410',
 'country': 'United States',
 'guide': '<a href="/where-to-study/north-america/united-states/guide" class="guide-link" target="_blank">United States</a>',
 'logo': '<img src="https://www.topuniversities.com/sites/default/files/massachusetts-institute-of-technology-mit_410_small_0.jpg" alt="Massachusetts Institute of Technology (MIT)  Logo">',
 'nid': '294850',
 'rank_display': '1',
 'region': 'North America',
 'score': '100',
 'stars': '6',
 'title': 'Massachusetts Institute of Technology (MIT)',
 'url': '/universities/massachusetts-institute-technology-mit'}

Create an empty dataFrame for the QS Data :

In [171]:
ranking_QS = pd.DataFrame(columns = ['Name','Rank','Country','Region',\
                                     'Number of faculty members (int)','Number of faculty members (total)',\
                                     'Number of students (int)','Number of students (total)'])
ranking_QS.head()

Empty DataFrame
Columns: [Name, Rank, Country, Region, Number of faculty members (int), Number of faculty members (total), Number of students (int), Number of students (total)]
Index: []

We create the following function wich takes in input the ranking dataframe and the dictionnary of the i_th university. The aim of this function is to go look for the missing information which are in the page of the university.

In [185]:
def get_additional_info(university_dict):
    QS_univ_URL = QS_base_URL + university_dict['url'] # this URL contains additional information that we will extract
    QS_univ_r = requests.get(QS_univ_URL)
    QS_univ_s = BeautifulSoup(QS_univ_r.text,'html.parser')
    
    ### getting info on the faculty members : 
    faculty_s =  QS_univ_s.find('div', class_='faculty-main')
    dic_index = ['In total','International']
    faculty_members = dict(zip([num.string for num in faculty_s.find_all('div',class_='anno')],\
                               [num.string for num in faculty_s.find_all('div',class_='number')]))
        
    ### getting info on the students
    student_total_s = QS_univ_s.find('div',class_='students-main')
    student_int_s = QS_univ_s.find('div',class_='int-students-main')
    students = {'In total': student_total_s.find('div',class_='number').string ,\
                'International': student_int_s.find('div',class_='number').string}

    return faculty_members,students

The following code allows us to get all the information for the `n_univ` first universities, from the list of dicitonnaries `QS_dict`, and from the university website through the previous function `get_additional_info()`. All this information is set in the previous dataframe  As there are some universities that don't have the information for international faculty member, we decide to add a NaN value.

In [ ]:
n_univ = 200;
for i in range(0,n_univ):
    univ = QS_dict[i]
    ### Go get the missing information on the page of the univerisity
    [faculty_members,students] = get_additional_info(univ)
    
    # check if this information is complete, if not, replace the empty values by np.nan
    if len(faculty_members) != 2:
        faculty_members['International'] = np.nan
    
    ### create the new line of the Dataframe ranking_QS
    univ_series = [ univ['title'],univ['rank_display'],univ['country'],univ['region'],\
                      faculty_members['International'], faculty_members['In total'],\
                       students['International'], students['In total']]
    ranking_QS.loc[i] = univ_series

Now That we have the dataframe `ranking_QS`, we need to clean a little bit the data : 
- convert into numbers the columns that are in strings
- remove the =XXX in the `Rank` column when 2 universities have the same rank.

In [ ]:
# converting the following columns in int : 
conv_2_int = ['Number of faculty members (int)','Number of faculty members (total)',\
              'Number of students (int)','Number of students (total)']
for i in range(0,len(conv_2_int)):
    ranking_QS[conv_2_int[i]] = pd.to_numeric(ranking_QS[conv_2_int[i]].replace({',':''}, regex=True))

# converting the rank colum into int
ranking_QS['Rank'] = pd.to_numeric(ranking_QS['Rank'].replace({'=':''}, regex=True))

In [235]:
# display the cleaned dataframe
ranking_QS

,Name,Rank,Country,Region,Number of faculty members (int),Number of faculty members (total),Number of students (int),Number of students (total)
0,Massachusetts Institute of Technology (MIT),1,United States,North America,1679.0,2982,3717,11067
1,Stanford University,2,United States,North America,2042.0,4285,3611,15878
2,Harvard University,3,United States,North America,1311.0,4350,5266,22429
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953,647,2255
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490,6699,18770
5,University of Oxford,6,United Kingdom,Europe,2964.0,6750,7353,19720
6,UCL (University College London),7,United Kingdom,Europe,2554.0,6345,14854,31080
7,Imperial College London,8,United Kingdom,Europe,2071.0,3930,8746,16090
8,University of Chicago,9,United States,North America,635.0,2449,3379,13557
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,1886.0,2477,7563,19815
10,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,2993.0,4338,7251,25738
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1300.0,1695,5896,10343
12,Princeton University,13,United States,North America,246.0,1007,1793,8069
13,Cornell University,14,United States,North America,970.0,2718,5411,21904
14,National University of Singapore (NUS),15,Singapore,Asia,3086.0,5106,8917,32728
15,Yale University,16,United States,North America,1708.0,4940,2469,12402
16,Johns Hopkins University,17,United States,North America,1061.0,4462,4105,16146
17,Columbia University,18,United States,North America,913.0,6189,8105,25045
18,University of Pennsylvania,19,United States,North America,1383.0,5499,4250,20639
19,The Australian National University,20,Australia,Oceania,927.0,1600,5551,14442
20,Duke University,21,United States,North America,226.0,2938,2864,15320
21,University of Michigan,21,United States,North America,1920.0,6809,7527,43147
22,King's College London,23,United Kingdom,Europe,1513.0,3650,9451,23780
23,The University of Edinburgh,23,United Kingdom,Europe,1553.0,4075,10551,28040
24,Tsinghua University,25,China,Asia,932.0,5506,4072,36300
25,The University of Hong Kong,26,Hong Kong,Asia,2085.0,3012,8230,20214
26,"University of California, Berkeley (UCB)",27,United States,North America,1395.0,3321,6086,36703
27,Northwestern University,28,United States,North America,1141.0,4231,3422,18675
28,The University of Tokyo,28,Japan,Asia,254.0,4514,2639,27279
29,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,835.0,1150,2921,10375
...,...,...,...,...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,413.0,1966,3897,23214
171,Indian Institute of Technology Delhi (IITD),172,India,Asia,4.0,466,80,7477
172,University of Virginia,173,United States,North America,487.0,2509,1899,21560
173,King Fahd University of Petroleum & Minerals,173,Saudi Arabia,Asia,665.0,1062,989,6040
174,University of Liverpool,173,United Kingdom,Europe,717.0,2390,7502,22065
175,University of Technology Sydney,176,Australia,Oceania,546.0,1328,7769,24207
176,CentraleSupélec,177,France,Europe,137.0,529,1132,3877
177,University of Florida,178,United States,North America,504.0,5419,4597,45485
178,University of Twente,179,Netherlands,Europe,299.0,910,2235,9332
179,Indian Institute of Technology Bombay (IITB),179,India,Asia,19.0,876,93,9402
180,University of Göttingen,181,Germany,Europe,641.0,3678,3736,30402
181,Vrije Universiteit Brussel (VUB),182,Belgium,Europe,515.0,1792,1853,9284
182,Universidade Estadual de Campinas (Unicamp),182,Brazil,Latin America,109.0,1968,966,26572
183,University of Colorado Boulder,182,United States,North America,566.0,3685,2679,30219
184,Vienna University of Technology,182,Austria,Europe,172.0,706,5199,17479
185,University of Rochester,186,United States,North America,488.0,2569,2805,9636
186,Universidad Autónoma de Madrid,187,Spain,Europe,181.0,2738,2976,26511
187,Alma Mater Studiorum - University of Bologna,188,Italy,Europe,153.0,2990,4195,63399
188,University of Reading,188,United Kingdom,Europe,422.0,1280,4077,13330
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia,NaN,423,47,4071
190,University of Cape Town,191,South Africa,Africa,379.0,1733,3325,19593
191,Scuola Normale Superiore di Pisa,192,Italy,Europe,1.0,86,48,532
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,192,Italy,Europe,1.0,119,135,789
193,Keio University,192,Japan,Asia,261.0,3905,2178,33500
194,Stockholm University,195,Sweden,Europe,646.0,2154,2636,28281
195,Universitat Autònoma de Barcelona,195,Spain,Europe,230.0,2187,3848,31986
196,Texas A&M University,195,United States,North America,206.0,3446,4900,60294
197,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,821.0,1822,1412,13376
198,Maastricht University,200,Netherlands,Europe,502.0,1277,8234,16385
199,Universidad de Chile,201,Chile,Latin America,127.0,2256,2134,38848

Now we have our clean dataframe and we can compute the asked values :

### (a)  ratio between faculty members and students

In [242]:
ranking_QS['Ratio Faculty/Students'] = ranking_QS['Number of faculty members (total)']/ranking_QS['Number of students (total)']
ranking_QS.sort_values('Ratio Faculty/Students',ascending=False)

,Name,Rank,Country,Region,Number of faculty members (int),Number of faculty members (total),Number of students (int),Number of students (total),Ratio Faculty/Students,Ratio Int/Total Students
3,California Institute of Technology (Caltech),4,United States,North America,350.0,953,647,2255,0.422616,0.286918
15,Yale University,16,United States,North America,1708.0,4940,2469,12402,0.398323,0.199081
5,University of Oxford,6,United Kingdom,Europe,2964.0,6750,7353,19720,0.342292,0.372870
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490,6699,18770,0.292488,0.356899
16,Johns Hopkins University,17,United States,North America,1061.0,4462,4105,16146,0.276353,0.254243
1,Stanford University,2,United States,North America,2042.0,4285,3611,15878,0.269870,0.227422
0,Massachusetts Institute of Technology (MIT),1,United States,North America,1679.0,2982,3717,11067,0.269450,0.335863
185,University of Rochester,186,United States,North America,488.0,2569,2805,9636,0.266604,0.291096
18,University of Pennsylvania,19,United States,North America,1383.0,5499,4250,20639,0.266437,0.205921
17,Columbia University,18,United States,North America,913.0,6189,8105,25045,0.247115,0.323617
7,Imperial College London,8,United Kingdom,Europe,2071.0,3930,8746,16090,0.244251,0.543567
116,Technical University of Denmark,116,Denmark,Europe,966.0,2117,2098,8878,0.238455,0.236314
73,University of Copenhagen,73,Denmark,Europe,2336.0,7483,3683,32119,0.232977,0.114667
27,Northwestern University,28,United States,North America,1141.0,4231,3422,18675,0.226560,0.183240
95,Lomonosov Moscow State University,95,Russia,Europe,373.0,6709,5098,30233,0.221910,0.168624
71,Pohang University of Science And Technology (P...,71,South Korea,Asia,113.0,664,126,3117,0.213025,0.040423
58,Ecole Polytechnique,59,France,Europe,259.0,649,924,3126,0.207614,0.295585
6,UCL (University College London),7,United Kingdom,Europe,2554.0,6345,14854,31080,0.204151,0.477928
99,Washington University in St. Louis,100,United States,North America,784.0,2699,2706,13474,0.200312,0.200831
146,Emory University,147,United States,North America,484.0,2560,2154,12852,0.199191,0.167600
2,Harvard University,3,United States,North America,1311.0,4350,5266,22429,0.193945,0.234785
181,Vrije Universiteit Brussel (VUB),182,Belgium,Europe,515.0,1792,1853,9284,0.193020,0.199591
20,Duke University,21,United States,North America,226.0,2938,2864,15320,0.191775,0.186945
72,University of Zurich,73,Switzerland,Europe,2617.0,4997,5036,26065,0.191713,0.193209
76,Tohoku University,76,Japan,Asia,264.0,3411,1604,17827,0.191339,0.089976
156,École Normale Supérieure de Lyon,157,France,Europe,91.0,382,221,2020,0.189109,0.109406
142,University of Pittsburgh,142,United States,North America,572.0,4982,2937,26393,0.188762,0.111280
8,University of Chicago,9,United States,North America,635.0,2449,3379,13557,0.180645,0.249244
123,Wageningen University,124,Netherlands,Europe,323.0,2277,3613,12695,0.179362,0.284600
35,Kyoto University,36,Japan,Asia,293.0,4060,1990,22974,0.176722,0.086620
...,...,...,...,...,...,...,...,...,...,...
44,The University of New South Wales (UNSW Sydney),45,Australia,Oceania,1612.0,2924,14292,39784,0.073497,0.359240
161,National Tsing Hua University,161,Taiwan,Asia,119.0,1020,1187,13890,0.073434,0.085457
49,The University of Sydney,50,Australia,Oceania,1829.0,3360,17030,46678,0.071983,0.364840
140,RWTH Aachen University,141,Germany,Europe,449.0,3176,8556,44517,0.071344,0.192196
32,"University of California, Los Angeles (UCLA)",33,United States,North America,662.0,2859,6887,40114,0.071272,0.171686
125,Ghent University,125,Belgium,Europe,482.0,2520,3766,35968,0.070062,0.104704
106,"KIT, Karlsruhe Institute of Technology",107,Germany,Europe,410.0,1827,4809,26081,0.070051,0.184387
81,The University of Auckland,82,New Zealand,Oceania,645.0,2047,8568,29641,0.069060,0.289059
195,Universitat Autònoma de Barcelona,195,Spain,Europe,230.0,2187,3848,31986,0.068374,0.120303
150,University of Otago,151,New Zealand,Oceania,759.0,1266,3871,18532,0.068314,0.208882
149,Michigan State University,149,United States,North America,653.0,2884,7427,44951,0.064159,0.165224
133,"University of California, Santa Barbara (UCSB)",134,United States,North America,267.0,1449,2128,23149,0.062594,0.091926
171,Indian Institute of Technology Delhi (IITD),172,India,Asia,4.0,466,80,7477,0.062324,0.010699
68,University of Illinois at Urbana-Champaign,69,United States,North America,259.0,2554,9483,42427,0.060198,0.223513
164,"University of California, Irvine",164,United States,North America,377.0,1926,8538,32151,0.059905,0.265559
119,Humboldt-Universität zu Berlin,120,Germany,Europe,407.0,1966,4805,33198,0.059220,0.144738
66,University of Texas at Austin,67,United States,North America,108.0,2833,4744,47995,0.059027,0.098844
199,Universidad de Chile,201,Chile,Latin America,127.0,2256,2134,38848,0.058072,0.054932
196,Texas A&M University,195,United States,North America,206.0,3446,4900,60294,0.057153,0.081268
59,Monash University,60,Australia,Oceania,1679.0,3204,20578,57433,0.055787,0.358296
70,KU Leuven,71,Belgium,Europe,784.0,2515,6926,45538,0.055229,0.152093
175,University of Technology Sydney,176,Australia,Oceania,546.0,1328,7769,24207,0.054860,0.320940
69,Georgia Institute of Technology,70,United States,North America,75.0,1133,4761,21082,0.053743,0.225832
152,Université catholique de Louvain (UCL),153,Belgium,Europe,406.0,1219,4468,24277,0.050212,0.184043
151,University of Waterloo,152,Canada,North America,473.0,1689,8962,35541,0.047523,0.252159
187,Alma Mater Studiorum - University of Bologna,188,Italy,Europe,153.0,2990,4195,63399,0.047162,0.066168
60,University of Washington,61,United States,North America,550.0,2484,8373,56973,0.043600,0.146964
124,Freie Universitaet Berlin,125,Germany,Europe,305.0,1375,5735,32912,0.041778,0.174253
169,Politecnico di Milano,170,Italy,Europe,231.0,1500,5593,36277,0.041349,0.154175
184,Vienna University of Technology,182,Austria,Europe,172.0,706,5199,17479,0.040391,0.297443

### (b)  ratio of international students

In [243]:
ranking_QS['Ratio Int/Total Students'] = ranking_QS['Number of students (int)']/ranking_QS['Number of students (total)']
ranking_QS.sort_values('Ratio Int/Total Students',ascending=False)

,Name,Rank,Country,Region,Number of faculty members (int),Number of faculty members (total),Number of students (int),Number of students (total),Ratio Faculty/Students,Ratio Int/Total Students
34,London School of Economics and Political Scien...,35,United Kingdom,Europe,687.0,1088,6748,9760,0.111475,0.691393
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,1300.0,1695,5896,10343,0.163879,0.570047
7,Imperial College London,8,United Kingdom,Europe,2071.0,3930,8746,16090,0.244251,0.543567
198,Maastricht University,200,Netherlands,Europe,502.0,1277,8234,16385,0.077937,0.502533
47,Carnegie Mellon University,47,United States,North America,425.0,1342,6385,13356,0.100479,0.478062
6,UCL (University College London),7,United Kingdom,Europe,2554.0,6345,14854,31080,0.204151,0.477928
91,University of St Andrews,92,United Kingdom,Europe,485.0,1140,4030,8800,0.129545,0.457955
41,The University of Melbourne,41,Australia,Oceania,1477.0,3311,18030,42182,0.078493,0.427434
126,Queen Mary University of London,127,United Kingdom,Europe,801.0,1885,6806,16135,0.116827,0.421816
25,The University of Hong Kong,26,Hong Kong,Asia,2085.0,3012,8230,20214,0.149006,0.407144
22,King's College London,23,United Kingdom,Europe,1513.0,3650,9451,23780,0.153490,0.397435
112,University of Groningen,113,Netherlands,Europe,1137.0,3351,10780,27549,0.121638,0.391303
56,The University of Warwick,57,United Kingdom,Europe,890.0,2093,7703,19855,0.105414,0.387963
98,University of Geneva,98,Switzerland,Europe,1029.0,1752,6104,15844,0.110578,0.385256
19,The Australian National University,20,Australia,Oceania,927.0,1600,5551,14442,0.110788,0.384365
108,The University of Adelaide,109,Australia,Oceania,633.0,1729,8114,21240,0.081403,0.382015
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,1886.0,2477,7563,19815,0.125006,0.381681
23,The University of Edinburgh,23,United Kingdom,Europe,1553.0,4075,10551,28040,0.145328,0.376284
5,University of Oxford,6,United Kingdom,Europe,2964.0,6750,7353,19720,0.342292,0.372870
33,The University of Manchester,34,United Kingdom,Europe,1653.0,4910,13514,36670,0.133897,0.368530
49,The University of Sydney,50,Australia,Oceania,1829.0,3360,17030,46678,0.071983,0.364840
134,Lancaster University,135,United Kingdom,Europe,435.0,1245,4464,12300,0.101220,0.362927
44,The University of New South Wales (UNSW Sydney),45,Australia,Oceania,1612.0,2924,14292,39784,0.073497,0.359240
59,Monash University,60,Australia,Oceania,1679.0,3204,20578,57433,0.055787,0.358296
4,University of Cambridge,5,United Kingdom,Europe,2278.0,5490,6699,18770,0.292488,0.356899
48,City University of Hong Kong,49,Hong Kong,Asia,1027.0,1349,3273,9240,0.145996,0.354221
158,University of Aberdeen,158,United Kingdom,Europe,508.0,1310,4246,12005,0.109121,0.353686
82,The University of Sheffield,82,United Kingdom,Europe,938.0,3065,8745,25430,0.120527,0.343885
64,University of Glasgow,65,United Kingdom,Europe,956.0,2775,8149,23815,0.116523,0.342179
174,University of Liverpool,173,United Kingdom,Europe,717.0,2390,7502,22065,0.108316,0.339995
...,...,...,...,...,...,...,...,...,...,...
133,"University of California, Santa Barbara (UCSB)",134,United States,North America,267.0,1449,2128,23149,0.062594,0.091926
114,Nanjing University,114,China,Asia,617.0,2449,2960,32495,0.075365,0.091091
191,Scuola Normale Superiore di Pisa,192,Italy,Europe,1.0,86,48,532,0.161654,0.090226
76,Tohoku University,76,Japan,Asia,264.0,3411,1604,17827,0.191339,0.089976
183,University of Colorado Boulder,182,United States,North America,566.0,3685,2679,30219,0.121943,0.088653
172,University of Virginia,173,United States,North America,487.0,2509,1899,21560,0.116373,0.088080
109,Utrecht University,109,Netherlands,Europe,653.0,3067,2771,31754,0.096586,0.087265
35,Kyoto University,36,Japan,Asia,293.0,4060,1990,22974,0.176722,0.086620
161,National Tsing Hua University,161,Taiwan,Asia,119.0,1020,1187,13890,0.073434,0.085457
36,Seoul National University,36,South Korea,Asia,433.0,3930,2331,28064,0.140037,0.083060
196,Texas A&M University,195,United States,North America,206.0,3446,4900,60294,0.057153,0.081268
122,Hokkaido University,122,Japan,Asia,210.0,2605,1347,17552,0.148416,0.076743
79,"University of North Carolina, Chapel Hill",80,United States,North America,524.0,4083,1934,25373,0.160919,0.076223
61,Shanghai Jiao Tong University,62,China,Asia,887.0,3544,2858,38931,0.091033,0.073412
165,University of Bergen,164,Norway,Europe,484.0,1513,767,10671,0.141786,0.071877
187,Alma Mater Studiorum - University of Bologna,188,Italy,Europe,153.0,2990,4195,63399,0.047162,0.066168
193,Keio University,192,Japan,Asia,261.0,3905,2178,33500,0.116567,0.065015
144,The Hebrew University of Jerusalem,145,Israel,Asia,454.0,2249,1034,16531,0.136047,0.062549
40,KAIST - Korea Advanced Institute of Science & ...,41,South Korea,Asia,147.0,1250,584,9826,0.127214,0.059434
102,University of Helsinki,102,Finland,Europe,535.0,2645,1234,22419,0.117980,0.055043
199,Universidad de Chile,201,Chile,Latin America,127.0,2256,2134,38848,0.058072,0.054932
71,Pohang University of Science And Technology (P...,71,South Korea,Asia,113.0,664,126,3117,0.213025,0.040423
138,Pontificia Universidad Católica de Chile (UC),137,Chile,Latin America,198.0,2260,991,27003,0.083694,0.036700
182,Universidade Estadual de Campinas (Unicamp),182,Brazil,Latin America,109.0,1968,966,26572,0.074063,0.036354
96,University of Science and Technology of China,97,China,Asia,155.0,1992,548,16032,0.124251,0.034182
120,Universidade de São Paulo,121,Brazil,Latin America,279.0,5582,2086,65711,0.084948,0.031745
121,Universidad Nacional Autónoma de México (UNAM),122,Mexico,Latin America,949.0,15073,2173,141939,0.106194,0.015309
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia,NaN,423,47,4071,0.103906,0.011545
171,Indian Institute of Technology Delhi (IITD),172,India,Asia,4.0,466,80,7477,0.062324,0.010699
179,Indian Institute of Technology Bombay (IITB),179,India,Asia,19.0,876,93,9402,0.093172,0.009892

### (c) By country : ratio of international students and  ratio between faculty members and students

We are going to display the same statistic but for each country. We only consider the Top 10 countries here.

In [279]:
# Top 10 : ratio of international students by country
ranking_QS.groupby('Country').mean().sort_values('Ratio Int/Total Students',ascending=False)\
            [['Ratio Int/Total Students']].head(10)

                Ratio Int/Total Students
Country
United Kingdom                  0.351308
Australia                       0.346878
Switzerland                     0.313816
Hong Kong                       0.312148
Austria                         0.306095
Singapore                       0.277091
Canada                          0.252604
New Zealand                     0.248971
Netherlands                     0.245456
Ireland                         0.241791

In [280]:
# Top 10 : ratio between faculty members and students by country
ranking_QS.groupby('Country').mean().sort_values('Ratio Faculty/Students',ascending=False)\
            [['Ratio Faculty/Students']].head(10)

               Ratio Faculty/Students
Country
Russia                       0.221910
Denmark                      0.186580
Saudi Arabia                 0.175828
Singapore                    0.162279
Japan                        0.155840
Malaysia                     0.153893
United States                0.151679
South Korea                  0.149356
France                       0.144006
Israel                       0.136047

### (d) By region : ratio of international students and  ratio between faculty members and students

We are going to display the same statistic but for each region. As we have 6 regions, we display the whole ranking.

In [286]:
# Ratio of international students by region
ranking_QS.groupby('Region').mean().sort_values('Ratio Int/Total Students',ascending=False)\
            [['Ratio Int/Total Students']]

               Ratio Int/Total Students
Region
Oceania                        0.329077
Europe                         0.245932
North America                  0.203583
Africa                         0.169703
Asia                           0.132394
Latin America                  0.071751

In [284]:
# Ratio between faculty members and students by region
ranking_QS.groupby('Region').mean().sort_values('Ratio Faculty/Students',ascending=False)\
            [['Ratio Faculty/Students']]

               Ratio Faculty/Students
Region
North America                0.145407
Asia                         0.134673
Europe                       0.120003
Latin America                0.096779
Africa                       0.088450
Oceania                      0.075003

## 2. Top University Ranking : THE
Next we Are going to load the data from the URL of THE. The main URL of the ranking page is the following :